Trending/Service References/ServiceReference1/ScadaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54040/ScadaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaModel" />
  <xs:import schemaLocation="http://localhost:54040/ScadaService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="sendDataToSvc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendDataToSvcResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="register_RTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register_RTUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="register_RTUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAvailableAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAvailableAddressesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="tag" nillable="true" type="q1:Tag" />
        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="alarm" nillable="true" type="q2:Alarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAlarmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alarmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeAlarmResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateScanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deactivateScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deactivateScanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRTDAddresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRTDAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getRTDAddressesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSDAvailableAddr">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSDAvailableAddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSDAvailableAddrResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="getTagsResult" nillable="true" type="q5:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagForEditing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTagForEditingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="getTagForEditingResult" nillable="true" type="q6:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="getAlarmsResult" nillable="true" type="q7:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initTrending">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="initTrendingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initAlarmDisplay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="initAlarmDisplayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logAlarmToConsole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ScadaModel" minOccurs="0" name="alarm" nillable="true" type="q8:Alarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>